<p id="notice"><%= notice %></p>

<div class="jumbotron">

  <h1>
    <%= @note.name %>
  </h1>
  
  <p style="margin: 10px 5px; font-size:18px">
    <%= @note.content %>
  </p>

</div>

<%= link_to 'Atras', { :controller => "folders", :action => "show", :id => @note.folder_id }, class: "btn btn-primary" %>