<p id="notice"><%= notice %></p>

<h1>Crear Folder</h1>

<%= render 'form', folder: @folder %>

<br>
<%= link_to 'Atras', { :controller => "folders", :action => "show", :id => params[:id] }, class: "btn btn-danger" %>
